body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
}

button {
    display: block;
    padding: 1rem 2.5rem;
    margin: 0 auto;
}